* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    height: 500px;
    width: 700px;
    position: relative;
    margin: auto;
    margin-top: 225px;
    background-color: rgb(95, 223, 255);
}

.shape1 {
    background-color: red;
    height: 300px;
    width: 300px;
    inset: 0;
    position: absolute;
    margin: auto;
    /* Can make custom shapes with border radius properties */
    border-radius: 100% 62% 25% 95% / 100% 29% 23% 67%; 
}